.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


header, main, footer {
    width: 90vw;
    min-width: 480px;
    margin: 0 auto;
}

#logo {
    float: left;
    margin: 1em;
}

header img {
    float: left;
}

h1 {
    color: white;
    font-size: 40px;
    display: inline-block;
    line-height: 100px;
}

.icon-menu {
    float: right;
    margin: 1em;
    font-size: 3em;
}

nav ul {
    clear: both;
}

nav li {
    display: inline;
}

form {
    
}

input:not([type="submit"]), textarea {
    margin: 0 auto;
    margin-top: 1em;
    width: 50%;
    display: block;
    resize: none;
}